<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <script src="{% static 'chatbot/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'chatbot/assets/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" media="print" href="{% static 'chatbot/assets/css/print.min.css' %}" />
    <link rel="stylesheet" href="{% static 'chatbot/assets/css/main.css' %}" />
    <link rel="stylesheet prefetch" href="{% static 'chatbot/assets/css/app.min.css_v=20-06-04T19_34_55Z.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet prefetch" href="https://www.cdc.gov/TemplatePackage/4.0/assets/css/app.min.css?v=20-06-04T19:34:55Z" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
 <!-- Footer -->
 <footer class="page-footer font-small blue pt-4" >

    <!-- Footer Links -->
    <div class="container" >     
    <!-- Grid row -->
    <div class="row">
       <!-- Grid column -->
       <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">COVID-19 Interactive Visualizer</h5>
          <p>This web application was created as part of the summer UCD Masters NL course.</p>
           
       </div>
       <!-- Grid column -->
       <hr class="clearfix w-100 d-md-none pb-3">
       <!-- Grid column -->
       <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Name</h5>
          <ul class="list-unstyled">
          <li>Aditya Krishnan
          </li>
          <li>
             Apurva Deore
          </li>
          <li>
             Ashwin Manikandan
          </li>
          <li>
             Minaz Shaikh
          </li>
              <li>
             Nripendra Singh
          </li>
              <li>
             Sumit Kumar
          </li>
              <li>
             Visha padma
          </li>
          </ul>
 
       </div>
       <!-- Grid column -->
       <!-- Grid column -->
       <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Email</h5>
          <ul class="list-unstyled">
          <li>
             aditya.krishnan@ucdconnect.ie          </li>
          <li>
             apurva.deore@ucdconnect.ie
          </li>
          <li>
             ashwin.manikandan@ucdconnect.ie
          </li>
          <li>
             minaz.shaikh@ucdconnect.ie
          </li>
              <li>
             nripendra.singh@ucdconnect.ie
          </li>
              <li>
             sumit.kumar2@ucdconnect.ie
          </li>
              <li>
             Vishal.padma@ucdconnect.ie
          </li>
          </ul>
       </div>
       <!-- Grid column -->
 
    </div>
    <!-- Grid row -->
 
    </div>
    <!-- Footer Links -->
 
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.ucd.ie/">University College Dublin</a>
    </div>
    <!-- Copyright -->
 
 </footer>
 <!-- Footer -->
</body>
</html>
