<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
</head>

<body>
    <div class="col-lg-3 order-lg-1 leftnav-wrapper">
        <nav role="navigation" aria-label="Left Navigation Menu">
            <div class="nav-section-home d-sm-block"><span class="sr-only">home</span>
                <span class="fi cdc-icon-home nav-home-icon x24" aria-hidden="true"></span>
                <a href="">Coronavirus Disease (COVID-19) Important information</a>
            </div>
            <ul class="list-group tp-nav-main">
                <li class="list-group-item nav-lvl1"><a href="/symptoms">Symptoms</a>
                    <a href="#nav-group-1" class="nav-plus nav-expandcollapse" data-toggle="collapse"
                        aria-controls="nav-group-1">
                        <span class="sr-only">plus icon</span>
                        <span class="fi cdc-icon-plus" aria-hidden="true"></span>
                    </a>
                    <ul id="nav-group-1" class="collapse">
                        <li class="list-group-item nav-lvl2"><a href="#title">Mild Symptoms</a></li>
                        <li class="list-group-item nav-lvl2"><a href="#mildsymptoms">Moderate Symptoms</a></li>
                        <li class="list-group-item nav-lvl2"><a href="#moderatesymptoms">Severe Symptoms</a></li>
                        <li class="list-group-item nav-lvl2"><a href="#severesymptoms">Self-Checker</a></li>
                    </ul>

                </li>
                <li class="list-group-item nav-lvl1">
                    <a href="/prevention">Prevention</a>
                    <a href="#nav-group-2" class="nav-plus nav-expandcollapse" data-toggle="collapse"
                        aria-controls="nav-group-2">
                        <span class="sr-only">plus icon</span>
                        <span class="fi cdc-icon-plus" aria-hidden="true"></span></a>
                    <ul id="nav-group-2" class="collapse">
                        <li class="list-group-item nav-lvl2"><a href="#/preventionhow">How It Spreads</a></li>
                        <li class="list-group-item nav-lvl2"><a href="#/preventionprotect">Protect Yourself</a>
                            <a href="#nav-group-2" class="nav-plus nav-expandcollapse" data-toggle="collapse"
                                aria-controls="nav-group-2">
                                <span class="sr-only">plus icon</span>
                                <span class="fi cdc-icon-plus" aria-hidden="true"></span></a>
                            <ul id="nav-group-2" class="collapse">
                                <li class="list-group-item nav-lvl3"><a href="/prevention#protect">Washing your
                                        hands</a>
                                </li>
                                <li class="list-group-item nav-lvl3"><a href="/prevention#wash">Contact with others</a>
                                </li>
                                <li class="list-group-item nav-lvl3"><a href="/prevention#closecontact">Face
                                        coverings</a>
                                </li>
                                <li class="list-group-item nav-lvl3"><a href="/prevention#facecover">Cover yourself</a>
                                </li>
                                <li class="list-group-item nav-lvl3"><a href="/prevention#clean">Clean and Disinfect</a>
                                </li>
                                <li class="list-group-item nav-lvl3"><a href="/prevention#disinfect">Monitor your
                                        health</a></li>
                            </ul>
                        </li>

                        <li class="list-group-item nav-lvl2">
                            <a href="/prevention#clean">Cleaning Your Home</a>

                        </li>

                    </ul>
                </li>
                <li class="list-group-item nav-lvl1">
                    <a href="/faq">Frequently Asked Questions</a>
                    <a href="#nav-group-d187d" class="nav-plus nav-expandcollapse" data-toggle="collapse"
                        aria-controls="nav-group-d187d">
                        <span class="sr-only">plus icon</span>
                        <span class="fi cdc-icon-plus" aria-hidden="true"></span></a>
                    <ul id="nav-group-d187d" class="collapse">
                        <li class="list-group-item nav-lvl2"><a href="/faq#COVID19">What is COVID-19</a></li>
                        <li class="list-group-item nav-lvl2"><a href="/faq#COVID19">How does it spread</a></li>
                        <li class="list-group-item nav-lvl2"><a href="/faq#spread">Who are at risk</a></li>
                        <li class="list-group-item nav-lvl2"><a href="/faq#risk">Treatment</a></li>
                        <li class="list-group-item nav-lvl2"><a href="/faq#treatment">Preventive measures</a></li>
                        <li class="list-group-item nav-lvl2"><a href="/faq#slowdown">Tests</a></li>
                        <li class="list-group-item nav-lvl2"><a href="/faq#Distancing">What is Social Distancing</a>
                        </li>
                        <li class="list-group-item nav-lvl2"><a href="/faq#WhyDistance">Why Social Distancing</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</body>

</html>