<!doctype html>
<html lang="en">
   {% load static %}
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'chatbot/assets/css/main.css' %} " />
      <link rel="stylesheet" media="print" href="{% static 'chatbot/assets/css/print.min.css' %}" />
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/bootstrap.bundle.min.js"></script>
      <link rel="shortcut icon" href="favicon.ico">
      <link rel="stylesheet" media="print" href="{% static 'chatbot/assets/css/print.min.css' %}" />
      <link rel="stylesheet" href="{% static 'chatbot/assets/css/main.css' %}" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <title>COVID-19 Interactive Visualizer</title>
   </head>
   <body>
   
      <div class="content">
            <header>
               <h3>Visualization of World map In Tableau and Power BI</h3>
               <br>
            </header>

          
             <!-- 
                Trial with Power BI.
    -->


        <iframe width="1850px" height="602" src="https://app.powerbi.com/reportEmbed?reportId=b03bcef1-4337-422a-a005-940d4e121cbb&autoAuth=true&ctid=420ec589-a866-4ad0-9a57-e6049e0d3bc0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D&pageName=Page1" frameborder="0" allowFullScreen="false"></iframe>
             
          
           <script type='text/javascript' src='https://eu-west-1a.online.tableau.com/javascripts/api/viz_v1.js'></script              
      <div class='tableauPlaceholder' style='width: 2000px; height: 602px;'>
         <object class='tableauViz' width='1850px' height='602' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='&#47;t&#47;covid19projectteamrocket' />
            <param name='name' value='WorldMapTrendFinal&#47;Sheet1&#47;aditya.krishnan@ucdconnect.ie&#47;a2d83764-736b-4d1c-8fd2-8c0a5777077f' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='no' />
            <param name='showAppBanner' value='false' />
         </object>             
  
         
</body>
</html>