<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <script src="{% static 'chatbot/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'chatbot/assets/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" media="print" href="{% static 'chatbot/assets/css/print.min.css' %}" />
    <link rel="stylesheet" href="{% static 'chatbot/assets/css/main.css' %}" />
    <link rel="stylesheet prefetch" href="{% static 'chatbot/assets/css/app.min.css_v=20-06-04T19_34_55Z.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet prefetch" href="https://www.cdc.gov/TemplatePackage/4.0/assets/css/app.min.css?v=20-06-04T19:34:55Z" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
 <!-- Footer -->
 <footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">     
    <!-- Grid row -->
    <div class="row">
       <!-- Grid column -->
       <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns to organize your footer content.</p>
       </div>
       <!-- Grid column -->
       <hr class="clearfix w-100 d-md-none pb-3">
       <!-- Grid column -->
       <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled">
          <li><a href="#!">Link 1</a>
          </li>
          <li>
             <a href="#!">Link 2</a>
          </li>
          <li>
             <a href="#!">Link 3</a>
          </li>
          <li>
             <a href="#!">Link 4</a>
          </li>
          </ul>
 
       </div>
       <!-- Grid column -->
       <!-- Grid column -->
       <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled">
          <li>
             <a href="#!">Link 1</a>
          </li>
          <li>
             <a href="#!">Link 2</a>
          </li>
          <li>
             <a href="#!">Link 3</a>
          </li>
          <li>
             <a href="#!">Link 4</a>
          </li>
          </ul>
       </div>
       <!-- Grid column -->
 
    </div>
    <!-- Grid row -->
 
    </div>
    <!-- Footer Links -->
 
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
 
 </footer>
 <!-- Footer -->
</body>
</html>
