<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <script src="{% static 'chatbot/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'chatbot/assets/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" media="print" href="{% static 'chatbot/assets/css/print.min.css' %}" />
    <link rel="stylesheet" href="{% static 'chatbot/assets/css/main.css' %}" />
    <link rel="stylesheet prefetch" href="{% static 'chatbot/assets/css/app.min.css_v=20-06-04T19_34_55Z.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet prefetch" href="https://www.cdc.gov/TemplatePackage/4.0/assets/css/app.min.css?v=20-06-04T19:34:55Z" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <meta charset="utf-8">
    <title></title>
    <style>
      .w3-allerta {
        font-family: "Allerta Stencil", Sans-serif;
        color: #e5474b;
        font-size: x-large;
      }
    </style>
  </head>
  <body>

  <header id="header">
         <div class="inner">
            <img src="{% static 'chatbot/images/Teamlogo.png' %}" style="width: 100%; max-width: 80px; float: left;">
            <a href="/" class="logo" style="float: left; left: 100px;"><p class="w3-allerta">COVID-19 Interactive Visualizer</p></a>

            <nav id="navbar">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Information<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/" style="color:black;">HomePage</a></li>
                    <li><a href="/indexie" style="color:black;">Ireland</a></li>
                    <li><a href="/symptoms" style="color:black;">Symptoms</a></li>
                    <li><a href="/prevention"  style="color:black;">Prevention</a></li>
                    <li><a href="/faq"  style="color:black;">FAQ</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
         </div>
      </header>
    </body>
    </html>
