<!doctype html>
<html lang="en">
   {% load static %}
   <head>
      <meta charset="utf-8">
      <link rel="icon" href="{% static 'chatbot/images/chatboticon.png' %}" type="image/png" sizes="16x16">
      <link rel="stylesheet" href="{% static 'chatbot/assets/css/main.css' %} " />
      <link rel="stylesheet" media="print" href="{% static 'chatbot/assets/css/print.min.css' %}" />
      <script src="{% static 'chatbot/assets/js/jquery.min.js' %}"></script>
      <script src="{% static 'chatbot/assets/js/bootstrap.bundle.min.js' %}"></script>
      <!-- <link rel="shortcut icon" href="favicon.ico"> -->
      <link rel="stylesheet" media="print" href="{% static 'chatbot/assets/css/print.min.css' %}" />
      <link rel="stylesheet" href="{% static 'chatbot/assets/css/main.css' %}" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <script type='text/javascript' src='https://eu-west-1a.online.tableau.com/javascripts/api/viz_v1.js'></script>
      <title>COVID-19 Interactive Visualizer</title>
      <style>
         .banner-img{
            background: url("{% static 'chatbot/images/home-banner.jpg' %}") repeat scroll;
            width: 100%;
         }
         .banner-img2{
            background: url("{% static 'chatbot/images/covid_banner2.jpg' %}") repeat scroll;
            width: 100%;
         }
         .Tbox{
            margin: 30px;
            background-color: #000000;
            /* border: 1px solid white; */
            opacity: 0.8;
            font-weight: 100;
         }
         .wiz{
            /* box-shadow: 0.5vh 0.5vw 0.5% 0.5%; */
            border: 1px solid rgba(red, green, blue, 0.2);
            /* margin: 0.5%; */
         }
      </style>
   </head>
<body>
    <script type="text/javascript">
      /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
      (function(d, m){
        var kommunicateSettings = {"appId":"2e3beded0d05a4b64479e305f33f3f62e","popupWidget":true,"automaticChatOpenOnNavigation":true,"voiceInput":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
      })(document, window.kommunicate || {});
  </script>
   {% load static %}
   {% include "chatbot/header.html" %}

   <!-- Maps section -->

   
    <div class="w3-card-2 w3-center" style="margin: 0 10% 0 10%;">
      <div class='tableauPlaceholder w3-card-4' style='width: 100%; height: 10%;'>
         <object class='tableauViz w3-display-middle' width='100%' height='620' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F'/>
            <param name='embed_code_version' value='3' />
            <param name='name' value='World_Map&#47;Sheet1' />
            <param name='site_root' value='&#47;t&#47;apurvadeore95' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='no' />
            <param name='showAppBanner' value='false' />
         </object>
      </div>
        <p class="w3-container w3-margin w3-padding-16 w3-leftbar ">Team Rocket Coronavirus Disease (COVID-19) dashboard above displays the most up to date Global statistics of the Corona virus in relation to a multitude of different categories. If you wish to learn more expand the tab below. </p>
        <ul class="list-group tp-nav-main">
            <li class="list-group-item nav-lvl1"><strong>Case Category Defenitions</strong>
                   <a href="#nav-group-1" class="nav-plus nav-expandcollapse" data-toggle="collapse" aria-controls="nav-group-1">
                      <span class="sr-only">plus icon</span>
                        <span class="fi cdc-icon-plus" aria-hidden="true"></span>
                   </a>
                   <ul id="nav-group-1" class="collapse" style="text-align:left">
                       
        <li><strong>CriticalCase:</strong> The current total number of people with laboratory confirmation of COVID-19 infection for that day, who have been admitted to the ICU or the ventilator due to high risk to health due to immune system failure and or due to complications in relation to the virus while still being infected. </li>
                           
        <li><strong>DeathRatio:</strong> The ratio between the total recorded deaths and total confirmed cases of COVID-19 individuals in a specified population.</li>
        <li><strong>NewConfirmed:</strong> Total sum of people with laboratory confirmation of COVID-19 infection who have been admitted to the hospital, for that day. Laboratory confirmation is performed at reference laboratories at the respective countries. The test can be either a viral test or an antibody test. </li>
        <li><strong>NewDeaths:</strong> The total sum of people with laboratory confirmation of COVID-19, who died to either the virus or any complications in relation to the virus while still being infected, on that day.</li>
        <li><strong>NewRecovered:</strong> Total sum of people who previously tested positive for COVID-19, and have completely rid of the virus from the system irrespective of the repercussions.</li>
        <li><strong>TotalDeaths:</strong> The overall total sum of people with laboratory confirmation of COVID-19, who died to either the virus or any complications in relation to the virus while still being infected, from the first recorded case of that country.</li>
        <li><strong>TotalRecovered:</strong> Total overall sum of people who previously tested positive for COVID-19, and have completely rid of the virus from the system irrespective of the repercussions, from the first recorded case of that country.</li>
        <li><strong>TotalConfirmed:</strong> Total overall sum of people with laboratory confirmation of COVID-19 infection who have been admitted to the hospital, from the very first recorded case of that country. Laboratory confirmation is performed at reference laboratories at the respective countries. The test can be either a viral test or an antibody test. </li>
        <li><strong>RecoveryRatio:</strong> The ratio between the total Recovered cases irrespective of the repercussions and total confirmed cases of COVID-19 individuals in a specified population.</li>
        <li><strong>TotalTests:</strong> The total number of recorded cases where the infected officially requested a test for the virus, after which they were either advised to stay home and self-isolate or be admitted to the hospital. </li>
        
                   </ul>

                </li>
        </ul>
   </div>
   
   <!-- Description -->
   <div class="w3-display-container  w3-center">       
      <div class="w3-container  w3-center">
         <div class="w3-container banner-img">
            <div class="Tbox w3-container w3-padding-16">
               <p style="color: white;">
                  The information presented in this site is based on official figures provided by the John Hopkins Coronavirus Resource Centre who have been at the forefront of the international response to COVID-19. It gives the information specific to countries starting from the month of January until the latest updated date, and is also backed by the YATKO Surveillance Centre (US).  Datasets, charts and maps will be updated on an on-going basis and in line with newly published data.  
               </p>
            </div>
         </div>
      </div>
      
      
      <div class="w3-row">
         <div class="w3-card-4 w3-center w3-third " >
            <div class='tableauPlaceholder' style='width: 30%; height: 10%; float: left;'>
               <object class='tableauViz' width='100%' height='400' style='display:none;'>
                  <param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F'/>
                  <param name='embed_code_version' value='3' />
                  <param name='name' value='Top10CountrieswithnmostConfirmedCases&#47;Sheet1' />
                  <param name='site_root' value='&#47;t&#47;apurvadeore95' />
                  <param name='tabs' value='no' />
                  <param name='toolbar' value='no' />
                  <param name='showAppBanner' value='false' />
               </object>
            </div>
         </div>       
         
         <div class="w3-card-4 w3-center w3-third ">
            <div class='tableauPlaceholder' style='width: 30%; height: 10%; float: left;'>
               <object class='tableauViz' width='100%' height='400' style='display:none;'>
                  <param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F'/>
                  <param name='embed_code_version' value='3' />
                  <param name='name' value='Top10recoveredcases&#47;Sheet1' />
                  <param name='site_root' value='&#47;t&#47;apurvadeore95' />
                  <param name='tabs' value='no' />
                  <param name='toolbar' value='no' />
                  <param name='showAppBanner' value='false' />
               </object>
            </div>
         </div>       
         
         <div class="w3-card-4 w3-center w3-third ">
            <div class='tableauPlaceholder' style='width: 30%; height: 10%; float: right;'>
               <object class='tableauViz' width='100%' height='400' style='display:none;'>
                  <param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F'/>
                  <param name='embed_code_version' value='3' />
                  <param name='name' value='Top10Deaths&#47;Sheet1' />
                  <param name='site_root' value='&#47;t&#47;apurvadeore95' />
                  <param name='tabs' value='no' />
                  <param name='toolbar' value='no' />
                  <param name='showAppBanner' value='false' />
               </object>
            </div>
         </div>       
      </div>
      
       <div class="w3-container w3-padding-16">
         <p style="color: rgb(0, 0, 0);">
            <strong>CRITICAL GLOBAL CASE CATEGORIES AT A GLANCE.</strong><br>
             <ul id="nav-group-1"  style="text-align:left">
             <li>Users can view three separate series of dashboards above which provide visualizations on the top 10 countries with cumulative confirmed cases, recovered cases and deaths of COVID-19 confirmed cases in Acute Hospitals across the world. An initial comparative country-by-country overview of each major case category. </li>
                           
             <li>Data presented in the application are reported from the John Hopkins Resource centre at 5am each day (data as of midnight previous day). This data will be updated on a daily basis every day of the weeek.</li>
           </ul>
            

            

         </p>
         <div class="w3-card-2 w3-center" style="margin: 0 10% 0 10%;">
           <div class='tableauPlaceholder' style='width: 100%; height: 10%;'>
               <object class='tableauViz' width='100%' height='600' style='display:none;'>
                   <param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F' /> 
                   <param name='embed_code_version' value='3' /> 
                   <param name='site_root' value='&#47;t&#47;apurvadeore95' />
                   <param name='name' value='WorldMap_Country-wiseTrend&#47;Sheet1' />
                   <param name='tabs' value='no' />
                   <param name='toolbar' value='no' />
                   <param name='showAppBanner' value='false' />
               </object>
             </div>
      </div> 
      <!-- Description 2 -->
      <div class="w3-container  w3-center">
         <div class="w3-container banner-img2">
            <div class="Tbox w3-container">
               <p style="color: rgb(255, 255, 255);" style="text-align:left">
             The dashboard above provides a daily overview of the COVID-19 critical case categories for each of the 186 countries in the world by event date with recorded cases as reported by the John hopkins resource centre and YATKO resource centre. <br>
                      
            Data is based on an aggregate of both public and private hospitals and includes all surge units<br>                       

           </p>
            </div>
         </div>
       </div>
       <section id="footer">
         <div class="inner">
            <header>
               <h2>Get in Touch</h2>
            </header>
            <form method="post" action="#">
               <div class="field half first">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" />
               </div>
               <div class="field half">
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email" />
               </div>
               <div class="field">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" rows="6"></textarea>
               </div>
               <ul class="actions">
                  <li><input type="submit" value="Send Message" class="alt" /></li>
               </ul>
            </form>
         </div>
      </section>
       </div>
    </div>
    
     <div  class="container">
           <div class="row">
               <div class="col-md-12">
                    <!-- FOOTER HERE -->
          {% include "chatbot/footer.html" %}
               </div>
           </div>
       </div>
      <!-- Scripts -->
      <script src="{% static 'chatbot/assets/js/jquery.min.js' %}"></script>
      <script src="{% static 'chatbot/assets/js/skel.min.js' %}"></script>
      <script src="{% static 'chatbot/assets/js/util.js' %}"></script>
      <script src="{% static 'chatbot/assets/js/main.js' %}"></script>
      <script>
            var coll = document.getElementsByClassName("nav-plus nav-expandcollapse");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
            });
        }
     </script>
   </body>
</html>
