<!doctype html>
<html lang="en">
   {% load static %}
   <head>
      <meta charset="utf-8">
      <link rel="icon" href="{% static 'chatbot/images/chatboticon.png' %}" type="image/png" sizes="16x16">
      <link rel="stylesheet" href="{% static 'chatbot/assets/css/main.css' %} " />
      <link rel="stylesheet" media="print" href="{% static 'chatbot/assets/css/print.min.css' %}" />
      <script src="{% static 'chatbot/assets/js/jquery.min.js' %}"></script>
      <script src="{% static 'chatbot/assets/js/bootstrap.bundle.min.js' %}"></script>
      <link rel="stylesheet" media="print" href="{% static 'chatbot/assets/css/print.min.css' %}" />
      <link rel="stylesheet" href="{% static 'chatbot/assets/css/main.css' %}" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <script type='text/javascript' src='https://eu-west-1a.online.tableau.com/javascripts/api/viz_v1.js'></script>
      <title>COVID-19 Interactive Visualizer</title>
      <style>
         .tableauViz {
         transition: width 5s ease-in-out;
        }
         .banner-img{
            background: url("{% static 'chatbot/images/covid19-hero-banner.jpg' %}") repeat scroll center;
            width: 100%;
         }
         .banner-img2{
            background: url("{% static 'chatbot/images/covid_banner2.jpg' %}") repeat scroll;
            width: 100%;
         }
         .Tbox{
            margin: 30px;
            background-color: #000000;
            /* border: 1px solid white; */
            opacity: 0.6;
            font-weight: 100;
         }
      </style>
   </head>
<body>
  <script type="text/javascript">
    (function(d, m){
      var kommunicateSettings = {"appId":"2e3beded0d05a4b64479e305f33f3f62e","popupWidget":true,"automaticChatOpenOnNavigation":true,"voiceInput":true};
      var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
      s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
      var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
      window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});

    $(document).ready(function(){
       $("div.tableauPlaceholder").slideDown(5000);
    });
  </script>
  {% load static %}
  {% include "chatbot/header.html" %}

    <!-- Maps section -->
    <div class="w3-card-2 w3-center" style="margin: 0 10% 0 10%;">
    <div class='tableauPlaceholder w3-card-4' style='width: 100%; height: 100%;'>
    <object class='tableauViz w3-display-middle' height='620' style='display:none; width: 100%;'>
		<param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F' />
    <param name='static_image' value="{% static 'chatbot/images/bannerIV1.png' %}" />
    <param name='display_static_image' value='yes' />
		<param name='embed_code_version' value='3' />
		<param name='site_root' value='&#47;t&#47;apurvadeore95' />
		<param name='name' value='Ireland_Map_2&#47;Ireland_Map' />
		<param name='tabs' value='no' />
		<param name='toolbar' value='no' />
		<param name='showAppBanner' value='false' />
		</object>
	</div>
      <p class="w3-container w3-margin w3-padding-16 w3-leftbar ">
          <ul id="nav-group-1"  style="text-align:left">
             <li>The following visualization provides a geographic distribution of COVID-19 cases in Ireland which is provided through county level charts. </li>

             <li>Data presented in the application are reported by the Health Surveillance Protection Centre. Each County is represented by a point feature. This service is updated daily at 5 am. The latest record will always date back to two days ago.</li>
        </ul>
      </p>
    </div>

    <!-- Description -->
    <div class="w3-display-container  w3-center">
       <div class="w3-container  w3-center">
         <div class="w3-container banner-img" style="height: 35vh;">
            <div class=" w3-container w3-padding-16">
               <p style="color: white;">
                 </p>
            </div>
         </div>
       </div>

       <div class="w3-cards-4 w3-center", style="margin: 0 10% 0 10%;">
          <div class='tableauPlaceholder w3-card-4' style='width: 100%; height: 100%;'>
          <object class='tableauViz w3-display-middle' height='620' style='display:none; width: 100%;'>
          <param name='static_image' value="{% static 'chatbot/images/bannerIV2.png' %}" />
		      <param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F' />
		      <param name='embed_code_version' value='3' />
		      <param name='site_root' value='&#47;t&#47;apurvadeore95' />
		      <param name='name' value='Ireland_Total_ConfirmedDeaths_15959605487770&#47;Ireland_Total_ConfirmedDeaths' />
		      <param name='tabs' value='no' />
		      <param name='toolbar' value='no' />
		      <param name='showAppBanner' value='false' />
		</object>
	</div>
       </div>

       <div class="w3-cards-4 w3-center", style="margin: 0 10% 0 10%;">
              <div class='tableauPlaceholder w3-card-4' style='width: 100%; height: 100%;'>
              <object class='tableauViz w3-display-middle' height='620' style='display:none; width: 100%;'>
              <param name='static_image' value="{% static 'chatbot/images/bannerIV3.png' %}" />
		          <param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F' />
		          <param name='embed_code_version' value='3' />
		          <param name='site_root' value='&#47;t&#47;apurvadeore95' />
		          <param name='name' value='Ireland_Daily_ConfirmedDeaths_2&#47;Ireland_Daily_ConfirmedDeaths' />
		          <param name='tabs' value='no' />
		          <param name='toolbar' value='no' />
		          <param name='showAppBanner' value='false' />
		      </object>
	       </div>
       </div>

       <div class="w3-panel">
           <p class="w3-sand w3-large w3-leftbar w3-border-black">The graphics above provide a timeline of confirmed COVID-19 cases and deaths as published by the Health Protection Surveillance Centre. The first dashboard is for cumulative confirmed cases and deaths while the second is for the daily stats.  Graphics will be updated on a daily basis once latest figures are published by the HPSC. </p>
       </div>

       <div class="w3-cards-4 w3-center", style="margin: 0 10% 0 10%;">
          <div class='tableauPlaceholder w3-card-4' style='width: 100%; height: 100%;'>
          <object class='tableauViz w3-display-middle' height='620' style='display:none; width: 100%;'>
          <param name='static_image' value="{% static 'chatbot/images/bannerIV4.png' %}" />
          <param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F' />
		      <param name='embed_code_version' value='3' />
		      <param name='site_root' value='&#47;t&#47;apurvadeore95' />
		      <param name='name' value='Ireland_DayWise_CONFIRMED_2&#47;Ireland_DayWise_CONFIRMED' />
		      <param name='tabs' value='no' />
		      <param name='toolbar' value='no' />
		      <param name='showAppBanner' value='false' />
		</object>
	   </div>
       </div>

       <div class="w3-cards-4 w3-center", style="margin: 0 10% 0 10%;">
          <div class='tableauPlaceholder w3-card-4' style='width: 100%; height: 100%;'>
          <object class='tableauViz w3-display-middle' height='620' style='display:none; width: 100%;'>
          <param name='static_image' value="{% static 'chatbot/images/bannerIV5.png' %}" />
          <param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F' />
		      <param name='embed_code_version' value='3' />
		      <param name='site_root' value='&#47;t&#47;apurvadeore95' />
		      <param name='name' value='Ireland_DayWise_Deaths_2&#47;Ireland_DayWise_Deaths' />
		      <param name='tabs' value='no' />
		      <param name='toolbar' value='no' />
		      <param name='showAppBanner' value='false' />
		</object>
	   </div>
    </div>


       <div class="w3-panel">
           <p class="w3-sand w3-large w3-leftbar w3-border-black">The graphics above provides the same timeline of confirmed COVID-19 cases and deaths which have been rescaled for both the confirmed and the deaths case category, for users to identify easily the changes in the number of cases recorded on a day to day basis. </p>
         </div>

         <div class="w3-cards-4 w3-center", style="margin: 0 10% 0 10%;">
                  <div class='tableauPlaceholder w3-card-4' style='width: 100%; height: 100%;'>
                  <object class='tableauViz w3-display-middle' height='620' style='display:none; width: 100%;'>
                  <param name='static_image' value="{% static 'chatbot/images/bannerIV6.png' %}" />
                  <param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F'/>
                  <param name='embed_code_version' value='3' />
                  <param name='name' value='Bar_IrelandConfirmed_County&#47;Bar_IrelandConfirmed_County'  />
                  <param name='site_root' value='&#47;t&#47;apurvadeore95' />
                  <param name='tabs' value='no' />
                  <param name='toolbar' value='no' />
                  <param name='showAppBanner' value='false' />
            </object>
         </div>
      </div>
    <div class="w3-cards-4 w3-center", style="margin: 0 10% 0 10%;">
      <div class='tableauPlaceholder w3-card-4' style='width: 100%; height: 100%;'>
      <object class='tableauViz w3-display-middle' height='620' style='display:none; width: 100%;'>
      <param name='static_image' value="{% static 'chatbot/images/bannerIV7.png' %}" />
		  <param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F' />
		  <param name='embed_code_version' value='3' />
		  <param name='site_root' value='&#47;t&#47;apurvadeore95' />
		  <param name='name' value='Hospitalized_AgeWiseCases_2&#47;Hospitalized_AgeWiseCases_2' />
		  <param name='tabs' value='no' />
		  <param name='toolbar' value='no' />
		  <param name='showAppBanner' value='false' />
		</object>
	</div>
        </div>

         <div class="w3-cards-4 w3-center", style="margin: 0 10% 0 10%;">
                  <div class='tableauPlaceholder w3-card-4' style='width: 100%; height: 100%;'>
                  <object class='tableauViz w3-display-middle' height='620' style='display:none; width: 100%;'>
                  <param name='static_image' value="{% static 'chatbot/images/bannerIV8.png' %}" />
                  <param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F'/>
                  <param name='embed_code_version' value='3' />
                  <param name='name' value='HospitalizedCases_Trend&#47;HospitalizedCases_Trend' />
                  <param name='site_root' value='&#47;t&#47;apurvadeore95' />
                  <param name='tabs' value='no' />
                  <param name='toolbar' value='no' />
                  <param name='showAppBanner' value='false' />
               </object>
         </div>
      </div>

    <div class="w3-container w3-padding-16">
         <p style="color: rgb(0, 0, 0);">
             <ul id="nav-group-1"  style="text-align:left">

             <li>Data presented in the application are reported by the Health Surveillance Protection Centre. This service is updated daily at 5 am. The latest record will always date back to two days ago.</li>

             <li>Note: use the slider at the top of the graphics focuses on the max number of cases by each county on recent time periods, and for the following two dashboards click on the legend to hide or show individual data series.</li>
        </ul>
         </p>
    </div>
    </div>
      <!-- Description 2 -->
      <div class="w3-container  w3-center">
         <div class="w3-container banner-img2">
            <div class="Tbox w3-container w3-padding-16">
               <p style="color: rgb(255, 255, 255);">
                   Thank you for visiting our webpage.
               </p>
            </div>
         </div>
       </div>
       {% include "chatbot/footer.html" %}

      <!-- Scripts -->
      <script src="{% static 'chatbot/assets/js/jquery.min.js' %}"></script>
      <script src="{% static 'chatbot/assets/js/skel.min.js' %}"></script>
      <script src="{% static 'chatbot/assets/js/util.js' %}"></script>
      <script src="{% static 'chatbot/assets/js/main.js' %}"></script>
      <script src="{% static 'chatbot/assets/js/jquery.min.js' %}"></script>
      <script src="{% static 'chatbot/assets/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'chatbot/assets/js/jquery.min.js' %}"></script>
      <script src="{% static 'chatbot/assets/js/bootstrap.bundle.min.js' %}"></script>
      <script>
            var coll = document.getElementsByClassName("nav-plus nav-expandcollapse");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
            });
        }
     </script>
   </body>
</html>
