*{
  margin:0;
  /* Change later */
}

body{
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#landingpage{
  background-image:url('../images/teamrocket.jpg');
  /* Making it responsive using viewport height*/
  background-size: cover;
  background-position: centre;
  
  height:100vh;
}
